bin/
######################
# Project Specific
######################
/src/main/webapp/content/css/main.css
/target/classes/static/**
/src/test/javascript/coverage/
!target/generated-sources/
target/

######################
# Node
######################
/node/
node_tmp/
node_modules/
*.class
