:host {
    --width: 368px;

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    z-index: 400;
    pointer-events: none;

    &.active {
        width: var(--width);
        pointer-events: auto;

        .indicator {
            &::before {
                transform: rotateY(180deg);
            }
        }
        .bar {
            right: 0;
        }
    }
    &.show {
        .indicator {
            transform: translateX(0);
            opacity: 1.0;
            pointer-events: auto;
        }
    }
}

.indicator {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem;
    margin-right: 3.25rem;
    width: fit-content;
    font-size: 0.9em;
    transform: translateX(1rem);
    transition: transform 100ms, opacity 100ms;
    opacity: 0.0;
    pointer-events: none;
    z-index: 1;
    
    &::before {
        content: "◀";
        margin-right: 1em;
        font-size: 0.55em;
        transition: all 200ms;
    }

    &.notify::after {
        content: "";
        position: absolute;
        top: -0.1rem;
        right: -0.55rem;
        width: 1em;
        height: 1em;
        border: 0.225em solid var(--color-fg-light);
        border-radius: 100%;
        background-color: var(--color-primary);
        z-index: 1;
    }
}

.bar {
    position: absolute;
    padding: 2rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
    top: 0;
    right: calc(-1 * var(--width));
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--color-bg-lightgray);
    //box-shadow: 0 0 0.75rem -0.25rem rgba(0, 0, 0, 0.15);

    hr {
        margin: 2rem 0;
    }
    strong {
        margin-bottom: 1em;
    }
    button + button {
        margin-left: 1em;
    }

    .btn-list-remove {
        padding: 0 0.5em;
    }
    .btn-deselect {
        display: block;
        margin: auto;
        margin-top: 2em;
        padding: 0.5em 2em;
    }

    .list {
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            strong {
                font-weight: normal;
            }
            span {
                margin-left: 1em;
                color: var(--color-fg-gray);
            }
        }

        &-remove {
            background-color: var(--color-bg-gray);
            color: var(--color-fg-gray);
            font-weight: bold;
            border-radius: 0.5rem;
        }
    }
}