.greyout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

body {
    font-family: Roboto;
}

.tib-btn-info {
    height: 22px;
    align-items: center;
    vertical-align: middle;
    background-image: url('../../content/images/info.png') !important;
    background-size: contain; //or cover
    background-repeat: no-repeat;
  }
  
  .btn-tib {
    color: black;
    --bs-btn-color: #fff;
    --bs-btn-bg: #f9cd0e;
    --bs-btn-border-color: #f9cd0e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dfb80b;
    --bs-btn-hover-border-color: #dfb80b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dfb80b;
    --bs-btn-active-border-color: #dfb80b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f9cd0e;
    --bs-btn-disabled-border-color: #f9cd0e;
    
  }
  
  .btn-tib-secondary {
    color: #333;
    --bs-btn-color: #fff;
    --bs-btn-bg: #d6dbe0;
    --bs-btn-border-color: #d6dbe0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a3a6a8;
    --bs-btn-hover-border-color: #a3a6a8;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a3a6a84;
    --bs-btn-active-border-color: #a3a6a8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d6dbe0;
    --bs-btn-disabled-border-color: #d6dbe0;
  }
  
  
  /* Styles for the ink bar */
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #f9cd0e !important;
    height: 10px;
  }
  
  ::ng-deep .mat-tab-label{
    font-size: 22px;
  }

  ::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  
 

  ::ng-deep div.ng-value { 
    background-color: #d6dbe0 !important;   
    color: #555 !important;   
  }
  ::ng-deep span.ng-star-inserted { 
    color: #555 !important;   
  }
  ::ng-deep div.ng-option {
    min-height: 18px !important;
    //height: 20px !important;
    font-size: small !important;
  }

  ::ng-deep mat-panel-title{
    font-weight: bold;
    color: #777  !important ;
  }

  ::ng-deep .entity {
    border: 1px solid #777;
    border-radius: 3px;
  }

  ::ng-deep .entity span{
    font-weight: bold;
    font-size: small;
  }

  ::ng-deep .mat-slider-track-fill { 
    background-color: #f9cd0e !important;
  }

  ::ng-deep .mat-slider-thumb{ 
    background-color: #f9cd0e !important;
  }


  .subheading {
    font-size: 14px;
    font-weight: bold;
    color:#555;
  }



 


  