<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="logo-wrapper">
      <img class="logo logo-l" src="../../content/images/logo_antelope.png">
      <img class="logo logo-s" src="../../content/images/antelope.png">
      <p class="lead">
        Antelope is a powerful free, open source service for easy data annotation: terminology search; entity linking; and integration with research data management systems.
      </p>
    </div>
    <br>
    <jhi-annotation-service-ui></jhi-annotation-service-ui>
    <jhi-overlay id="integration">
      <h2>Integration</h2>
      <p>
        <b>ANTELOPE</b> can be used in various ways. You may:
      </p>
      <ul>
          <li>Use this website directly for your search</li>
          <li><a href="#embedd">Embedd</a> the ANTELOPE search form in your website</li>
          <li>Connect to our <a href="#api">RESTful API</a></li>
      </ul>
      <h3>Via iFrame</h3>
      <p>
        Copy the code below and place it on your website or web-based software.
        This will display the <b>ANTELOPE</b> frontend component within your site.
      </p>
      <pre>
        <code>
          &lt;iframe 
          src=&quot;http://localhost:9000/api/annotation/entities/selectcomponent&quot; 
          height=&quot;600&quot; width=&quot;800&quot; name=&quot;antelope&quot; id=&quot;antelope-iframe&quot; sandbox=&quot;allow-scripts&quot;&gt;
          &lt;/iframe&gt;
        </code>
      </pre>
      <p>
        You may send search requests to the component from your own site. 
        After your users select entities within the <b>ANTELOPE</b> component, the results are available in your site for further use.
        For detailled documentation of embedding <b>ANTELOPE</b> see <a href="">here</a>.
      </p>
      <h3>RESTful API</h3>
      <p>
        You can use the full functionality of this website via our API.<br>
        Have a look at the <a href="/v3/api-docs/openapi" target="_blank">API docs</a>
      </p>
    </jhi-overlay>
  </div>
  <div class="col-md-3"></div>
</div>
