/* ==========================================================================
Main page styles
========================================================================== */

:host > .row {
  overflow-x: hidden;
}

.col-md-3 {
  padding: 0;
}

.logo-wrapper.collapsed {
  margin-top: 2rem;

  .logo {
    &-l {
      display: none;
    }
    &-s {
      display: block;
    }
  }
}

.logo-wrapper {
  align-content: center;
  margin-top: 7.5rem;
  text-align: center;
}
.logo {
  display: block;
  margin: auto;
  margin-bottom: 3rem;

  &-l {
    height: 4rem;
  }
  &-s {
    display: none;
    height: 2rem;
  }
}

p {
  margin: auto;
  margin-bottom: 3rem;
  color: var(--color-fg-gray);
  font-size: var(--font-size-l);
}

.collapsed {
  .logo-l {
    display: none;
  }
  .logo-s {
    display: block;
  }

  p {
    display: none;
  }
}


/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .logo {
    &-l {
      height: 8rem;
    }
    &-s {
      height: 4rem;
    }
  }
}

jhi-annotation-service-ui {
  display: block;
  margin-bottom: 2rem;
}