<div class="row">
  <div class="col-md-3">
    
  </div>

  <div class="col-md-6">
    <div style="align-content: center;text-align: center;">
      <span class="logo img-fluid rounded"></span>
      <p class="lead">Antelope is a free, open source service to support your data annotation. <br>It offers terminology search, entity recognition, and easy integration into your projects.</p>
    </div>
    <br>
    <jhi-annotation-service-ui></jhi-annotation-service-ui>
  </div>
 <div class="col-md-3"></div>
</div>
