<ngx-loading-bar [includeSpinner]=false diameter="40px" height="14px" ></ngx-loading-bar>

<mat-tab-group dynamicHeight preserveContent [class.disabled]="showResultContainer">
     <!-- ********************** Terminology search ********************* -->
    <mat-tab label="Terminology search">
        <div *ngIf="!showResultContainer">
            <br>
            <label for="textToAnnotate">
                <span jhiTranslate="home.service.typehintph">Type the term you want to search for (single word or phrase):</span>
                <div class="tib-btn-info" 
                    matTooltip="Terminology search is used to search for a term in a controlled vocabulary. The annotation service will propose entities, that are best matching the whole provided phrase. If you want to receive all contained entities within your phrase, choose 'Entity recognition' above"
                    matTooltipPosition="right"
                    matTooltipSize="12px">
                </div>
            </label>
            <textarea type="text" id="textTerminologySearch" [formControl]="textTerminologySearch" placeholder="e.g. ‘Mona Lisa’ or ‘The Mona Lisa painting’"></textarea>
            <span class="subheading" jhiTranslate="home.service.selectsources">Select terminology sources</span>
            <div class="tib-btn-info" 
                matTooltip="Please select the datasources you want to search. Currently we don't provide DBpedia as a standalone source"
                matTooltipPosition="right"></div>
            
            <form [formGroup]="sourcesForm" (ngSubmit)="submit()" novalidate>
                <div style="font-size: 14px;"
                    *ngFor="let datasource of datasources; let i=index"
                    [ngClass]="{'greyout': datasource.disabled == true}">
                    
                    <div *ngIf="datasource.shownTS == true">
                        <input 
                            type="checkbox" 
                            formArrayName="selectedSources" 
                            [value]="datasource.value" 
                            [checked]="datasource.checked == true" 
                            [disabled]="datasource.disabled == true"
                            (change)="onCheckboxChange($event)" />
                        
                        {{datasource.name}}
                    </div>
                </div>
            </form>

            <span *ngIf="showTs4tibOntologySelect == true" jhiTranslate="home.service.selectontologies">Select Ontologies (optional)</span>
            <ng-select class="tib-select"
                *ngIf="showTs4tibOntologySelect == true"
                [items]="ts4tibOntologies"
                bindLabel="name"
                bindValue="id"
                groupBy="collection"
                orderBy="collection"
                [searchFn]="ngSearchts4tibOntologies"
                [multiple]="true"
                [closeOnSelect]="false"
                [selectableGroup]="true"
                [selectableGroupAsModel]="false"
                [compareWith]="compareOntologies"
                [(ngModel)]="selectedTs4tibOntologies"
                [virtualScroll]="true"
                appendTo="body">
                <ng-template ng-optgroup-tmp let-item="item">
                    {{item.collection || '8 - Other'}}
                </ng-template>
            </ng-select>
            
            <span class="subheading" jhiTranslate="home.service.settings">Settings</span><br/>   
            <input 
            type="checkbox" 
            [(ngModel)]="allowDuplicates"
            [value]="allowDuplicates" 
            [checked]=false
            /> <span style="font-size: 14px;" jhiTranslate="home.service.allowclassduplicates">Allow class duplicates</span>
            <div class="tib-btn-info" 
            matTooltip="If set, the result hierarchy graph may contain the same class multiple times (in different branches). This will give you a more complete view of the original results but may show the same information multiple times.
            Every class will still be shown only once per branch in the hierarchy tree to avoid circles (circles are possible in graphs but not in trees like taxonomies)"
            matTooltipPosition="right"></div>
           
            <div class="btn-list">
                <!-- <button type="button" class="btn-annotationservice btn-settings" (click)="toggleSettings()"></button> --><div style="width: 7.25rem;"></div>
                <button type="submit" class="btn-annotationservice btn-annotationservice--primary" (click)="terminologySearch()" jhiTranslate="home.service.search">Search</button>
                <button type="button" class="btn-annotationservice btn-annotationservice--secondary" (click)="clearAll()" jhiTranslate="home.service.reset">Reset</button>
            </div>
        </div>
    </mat-tab>
    <!-- ********************** Entity Recognition ********************* -->
    <mat-tab label="Entity linking">
        <div style="margin: 5px;">
            <br>
            <label for="textEntityLinking">Type the text you want to run entity linking on (single words or whole sentences): </label>
            <div class="btn tib-btn-info" 
                matTooltip="Use Entity recognition to map as many words as possible, of your input text, to entities from the datasources. If you want to search for a single term, that is described by your text, choose 'Terminology search' above"
                matTooltipPosition="right"
                matTooltipSize="12px"></div>
            <textarea id="textEntityLinking" class="form-control" [formControl]="textEntityLinking" style="margin:2px"></textarea>
            <span class="subheading">Select dictionary: </span>
            <div class="btn tib-btn-info" 
                matTooltip="Choose an existing dictionary from the 'predefined' section or define your own dictionary in the 'custom' section"
                matTooltipPosition="right"
                matTooltipSize="12px">
            </div>
                <mat-tab-group #dictsourceTab dynamicHeight preserveContent (selectedTabChange)="dictSourceTabChange(dictsourceTab.selectedIndex)">
                    <mat-tab label="Custom">
                        <mat-tab-group #userdictTab dynamicHeight preserveContent (selectedTabChange)="userDictTabChange(userdictTab.selectedIndex)">
                            <mat-tab label="List of entities">
                                <textarea id="el_user_dict_list" class="form-control" [formControl]="el_user_dict_list" style="margin:2px" hint="test"></textarea>
                            </mat-tab>
                            <mat-tab label="Simple dictionary">
                                <textarea id="el_user_dict_simple" class="form-control" [formControl]="el_user_dict_simple" style="margin:2px"></textarea>
                            </mat-tab>
                            <mat-tab label="Extended dictionary">
                                <textarea id="el_user_dict_full" class="form-control" [formControl]="el_user_dict_full" style="margin:2px"></textarea>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-tab>
                    <mat-tab label="Predefined">
                        <form [formGroup]="sourcesForm" (ngSubmit)="submit()" novalidate>
                            <div class="alert alert-warning">Using large dictionaries may take several minutes to compute!</div>
                            <div style="font-size: 14px;"
                                *ngFor="let datasource of datasources; let i=index"
                                [ngClass]="{'greyout': datasource.disabled == true}" >
                                <div *ngIf="datasource.shownER == true">
                                    <input 
                                        type="checkbox" 
                                        formArrayName="selectedSources" 
                                        [value]="datasource.value" 
                                        [checked]="datasource.checked == true" 
                                        [disabled]="datasource.disabled == true"
                                        (change)="onCheckboxChange($event)" />
                                    {{datasource.name}}
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            
            <br><span class="subheading" >Settings:</span><br/>   
            Similarity radius: wide<mat-slider min="0.01" max="0.99" step="-0.1" value="0.6" discrete [displayWith]="el_similarity_label" [(ngModel)]="el_threshold">
                <input matSliderThumb>
              </mat-slider>narrow
              <div class="btn tib-btn-info" 
                matTooltip="As lower the threshold is, as more words are linked but as lower the semantical equality can be"
                matTooltipPosition="right"
                matTooltipSize="12px"></div><br>
            <input 
            type="checkbox" 
            [(ngModel)]="allowDuplicates"
            [value]="allowDuplicates" 
            [checked]=false
            /> <span style="font-size: 14px;">Allow class duplicates</span>
            <div class="btn tib-btn-info" 
            matTooltip="If set, the result hierarchy graph may contain the same class multiple times (in different branches). This will give you a more complete view of the original results but may show the same information multiple times.
            Every class will still be shown only once per branch in the hierarchy tree to avoid circles (circles are possible in graphs but not in trees like taxonomies)"
            matTooltipPosition="right"></div>
            <div class="btn-list">
                <!-- <button type="button" class="btn-annotationservice btn-settings" (click)="toggleSettings()"></button> --><div style="width: 7.25rem;"></div>
                <button type="submit" class="btn-annotationservice btn-annotationservice--primary" (click)="entityRecognition()" jhiTranslate="home.service.search">Search</button>
                <button type="button" class="btn-annotationservice btn-annotationservice--secondary" (click)="clearAll()" jhiTranslate="home.service.reset">Reset</button>
            </div>
        </div>
    </mat-tab>

    <!-- ********************** Image EL ********************* -->
    <mat-tab label="Image">
        <div style="margin: 5px;">
            <br>
            <input type="file" (change)="onFileSelected($event)" accept="image/*"><br>
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image">
            <br>
            Optional image description:<textarea id="imageText" class="form-control" [formControl]="imageText" style="margin:2px" value="test"></textarea>
            <!--<span class="subheading" >Select image processing model:</span>
            <div class="btn tib-btn-info" 
                matTooltip="Please select the model you want to compute"
                matTooltipPosition="right"></div>
            <ng-select class="imagemodel-select"
                [items]="iartImageModels"
                bindLabel="name"
                bindValue="name"
                groupBy="type"
                orderBy="type"
                [multiple]="false"
                [closeOnSelect]="true"
                [selectableGroup]="false"
                [selectableGroupAsModel]="false"
                [(ngModel)]="selectedIartImageModels"
                [virtualScroll]="true"
                appendTo="body">
                <ng-template ng-optgroup-tmp let-item="item">
                    {{item.type || ' '}}
                </ng-template>
            </ng-select>-->
            <div id="ClipClassifierDictionary" *ngIf="selectedIartImageModels == 'ClipClassification'">
                <br>
                <span class="subheading">Select dictionary: </span>
                <div class="btn tib-btn-info" 
                    matTooltip="Choose an existing dictionary from the 'predefined' section or define your own dictionary in the 'custom' section"
                    matTooltipPosition="right"
                    matTooltipSize="12px">
                </div>
                <mat-tab-group #dictsourceTab dynamicHeight preserveContent (selectedTabChange)="dictSourceTabChange(dictsourceTab.selectedIndex)">
                    <mat-tab label="Custom">
                        <mat-tab-group #userdictTab dynamicHeight preserveContent (selectedTabChange)="userDictTabChange(userdictTab.selectedIndex)">
                            <mat-tab label="List of entities">
                                <textarea id="el_user_dict_list" class="form-control" [formControl]="el_user_dict_list" style="margin:2px" hint="test"></textarea>
                            </mat-tab>
                            <mat-tab label="Simple dictionary">
                                <textarea id="el_user_dict_simple" class="form-control" [formControl]="el_user_dict_simple" style="margin:2px"></textarea>
                            </mat-tab>
                            <mat-tab label="Extended dictionary">
                                <textarea id="el_user_dict_full" class="form-control" [formControl]="el_user_dict_full" style="margin:2px"></textarea>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-tab>
                    <mat-tab label="Predefined">
                        <form [formGroup]="sourcesForm" (ngSubmit)="submit()" novalidate>
                            <div class="alert alert-warning">Using large dictionaries may take several minutes to compute!</div>
                            <div style="font-size: 14px;"
                                *ngFor="let datasource of datasources; let i=index"
                                [ngClass]="{'greyout': datasource.disabled == true}" >
                                <div *ngIf="datasource.shownER == true">
                                    <input 
                                        type="checkbox" 
                                        formArrayName="selectedSources" 
                                        [value]="datasource.value" 
                                        [checked]="datasource.checked == true" 
                                        [disabled]="datasource.disabled == true"
                                        (change)="onCheckboxChange($event)" />
                                    {{datasource.name}}
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
                <br>
            </div>
            <div style="margin-top:15px">
                <button type="submit" class="btn btn-tib" (click)="imageEL()">Run service</button>
                <button type="button" class="btn btn-tib-secondary" (click)="clearAll()">Reset</button>
            </div>
            
            
        </div>
    </mat-tab>
</mat-tab-group>

<p id="msg" class="error">{{msg}}</p>
<p id="err" class="error">{{err}}</p>

<!-- ********************** Results ********************* -->    
<div [hidden]="!showResultContainer" class="results-container">
    <div class="search-collapsed">
        <span>{{ textTerminologySearch.value }}</span>
        <div class="search-collapsed-buttons">
            <!--<button type="button" class="btn-annotationservice btn-settings" (click)="toggleSettings()"></button>-->
            <button type="button" class="btn-annotationservice btn-annotationservice--secondary" (click)="clearAll()" jhiTranslate="home.service.change">Change</button>
        </div>
    </div>
    <span class="results-label">{{ resultCount }} <span jhiTranslate="home.service.resultsin">results in</span> {{ selectedSources.length }} <span jhiTranslate="home.service.terminologysources">terminology sources</span></span>
    <pre><p *ngIf="iart_result" style="font-size:11px;">{{ iart_result | json}}</p></pre>
    <mat-tab-group (selectedTabChange)="onTabChanged()" style="min-height: 0;">
        <mat-tab label="Graph">
            <div [innerHTML]="el_result.html"></div>
            <div class="results-graph-legend">
                <div class="results-graph-legend-entry results-graph-legend-entry--terminology-source" jhiTranslate="home.service.legend.terminologysource">Terminology Source</div>
                <div class="results-graph-legend-entry results-graph-legend-entry--instance" jhiTranslate="home.service.legend.instance">Instance</div>
                <div class="results-graph-legend-entry results-graph-legend-entry--class" jhiTranslate="home.service.legend.class">Class</div>
            </div>
            <div class="tib-btn-info" 
                matTooltip="The graph view shows the results in a hierarchy. Roll the mouse wheel to zoom. Hold left mouse button to move the graph."
                matTooltipPosition="right"
                matTooltipSize="12px">
            </div>
            <jhi-results-graph-tidytree></jhi-results-graph-tidytree>
            <div id="imageELresultContainer">
                Threshold: <span>{{el_threshold}}</span><mat-slider min="0.0" max="1.0" step="-0.01" value="0.2" discrete [displayWith]="el_similarity_label" [(ngModel)]="el_threshold" (input)="onElThresholdInput($event)" (change)="onElThresholdChange()">
                <input matSliderThumb>
              </mat-slider>{{el_threshold_result_count}}
              <span class="btn tib-btn-info" 
                matTooltip="As lower the threshold is, the more entities from the dictionary will be included in the results"
                matTooltipPosition="right"
                matTooltipSize="12px"></span>
                <jhi-results-graph-barchart></jhi-results-graph-barchart>  
            </div>
            
        </mat-tab>
        <mat-tab label="Table">
            <div class="tib-btn-info" 
                matTooltip="The table view shows the results with details as a list."
                matTooltipPosition="right"
                matTooltipSize="12px">
            </div>
            <jhi-results-table></jhi-results-table>
        </mat-tab>
        <!-- <mat-tab label="JSON">
            <button style="margin:5px;margin-left:157px;" class="btn-annotationservice btn-annotationservice--primary" [cdkCopyToClipboard]="annotation | json">Copy</button>
            <button class="btn-annotationservice btn-annotationservice--primary" (click)="saveJson()">Download</button>
            <pre><p style="font-size:11px;">{{ annotation | json}}</p></pre>
        </mat-tab> -->
    </mat-tab-group>
</div>

<div *ngIf="!showResultContainer">
    <br><br>
    <br><br>
</div>

<jhi-selection-bar spacer-id="sidebar-selection-spacer"></jhi-selection-bar>

<jhi-graph-selection-card></jhi-graph-selection-card>