<span class="indicator" (click)="toggle()" jhiTranslate="home.sidebar.title">Your Selection</span>
<aside class="bar container">
    <div class="row">
        <strong class="subheading" jhiTranslate="home.sidebar.selectedentities">Selected Entities</strong>
        <span *ngIf="selectedEntities.size == 0" class="error" jhiTranslate="home.sidebar.selectionempty">You did not yet select any entities</span>
        <ul class="list">
            <li *ngFor="let entity of selectedEntities">
                <div>
                    <div class="node" [ngClass]="entity?.isInstance ? 'node--instance' : 'node--class'"></div>
                    <strong>{{ entity?.label }}</strong>
                    <span>{{ entity?.id }}</span>
                </div>
                <button type="button" class="btn-annotationservice btn-list-remove" (click)="unselectEntity(entity)">-</button>
            </li>
        </ul>
        <div>
            <button type="button" class="btn-annotationservice btn-annotationservice--secondary btn-unselect" jhiTranslate="home.sidebar.unselectall"  (click)="unselectAll()">unselect All</button>
        </div>
        <hr>
        <strong class="subheading" jhiTranslate="home.sidebar.exportselection">Export Selection</strong>
        <div class="btn-list" [class.disabled]="selectedEntities.size == 0">
            <button type="submit" class="btn-annotationservice btn-annotationservice--primary" jhiTranslate="home.sidebar.exportjson">JSON</button>
            <button type="button" class="btn-annotationservice btn-annotationservice--primary" jhiTranslate="home.sidebar.exportcsv">CSV</button>
        </div>
        <hr>
        <strong class="subheading" jhiTranslate="home.sidebar.exportall">Export All</strong>
        <div class="btn-list" [class.disabled]="!hasResults()">
            <button type="submit" class="btn-annotationservice btn-annotationservice--primary" (click)="exportAllJSON()" jhiTranslate="home.sidebar.exportjson">JSON</button>
            <button type="button" class="btn-annotationservice btn-annotationservice--primary" (click)="exportAllCSV()" jhiTranslate="home.sidebar.exportcsv">CSV</button>
        </div>
    </div>
</aside>